/* Hamburger */
#nav-icon3{
    width: 4rem;
    height: 2rem;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}
  
#nav-icon3 span{
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background: #d3531a;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}
  
#nav-icon3 span:nth-child(1) {
    top: 0px;
}
  
#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
    top: 18px;
}
  
#nav-icon3 span:nth-child(4) {
    top: 36px;
}
  
#nav-icon3.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}
  
#nav-icon3.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
  
#nav-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
  
#nav-icon3.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}

/* Landing Page */

.mobilelogoshow{
    display: none;
}
.logo{
    display:flex ;
}
.clubtitle{
    height: 50%;
    font-size: 6vw;
}
.circle{
    filter: blur(220px);
}
.aboutcontent{
    font-size: 1.3vw;
}
@media screen and (max-width: 430px) {
    .mobilelogoshow{
        display: flex;
        justify-content: center;
        align-items: center;
        gap:20px;
    }
    .mobilelogoshow div{
        width:15vw;
    }
    .logo{
        display: none;
    }
    .circle{
        filter: blur(80px);
    }
    .clubtitle{
        height: 0%;
        font-size: 35px;
    }
    .clubsubtitle{
        font-size: 18px;
    }
    .aboutcontent{
        font-size: 10px;
    }

}

/* Upcoming Events Page */

.event-desc::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #E7301C;
    transition: height 0.3s ease-in-out;
    z-index: 0;
}
  
.event-desc:hover::before {
    height: 100%;
}

.event-desc:hover .event-text{
    color: white;
}

/* Carousel */
.swiper {
    width: 100%;
    height: 100%;
}
  
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-pagination span{
    background-color: #E7301C;
    transform: scale(1.5);
}

.swiper-button-prev, .swiper-button-next{
    color: #E7301C !important;
    border-radius: 30px;
    transition: background-color ease 0.3s;
}

/* @media (max-width: 748px) {
    .swiper-button-prev, .swiper-button-next{
        transform: scale(0.8);
    }
} */